<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThaiDB : <%- title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/scripts.js"></script>
</head>
<body>
    <%- include('header'); -%>
    <h1><a href="/db">Collections</a>.<a href="/db/<%- collection.name %>/list"><%- collection.friendlyName %></a><%- locals.query ? "." + locals.query : "" %></h1>
    <div><%= articles.length %> groups <%= articles.reduce((a,v)=>a+v.count, 0) %> results <button onclick="window.location=setUrlParam(window.location, 'csv', 1)">Export</button> | mean: <%= statistics.mean.toFixed(4) %> | stdev: <%= statistics.stdev.toFixed(4) %> | confidence interval: [<%= (statistics.mean-statistics.confidence).toFixed(4) %>, <%= (statistics.mean+statistics.confidence).toFixed(4) %>]</div>
    <div style="display: flex;">
        <div style="flex: 50%;">
            <table>
                <tr><th><%= attribute %></th></th><th>count</th><th>map</th></tr>
                <% for(var i=0; i<articles.length; i++) {%>
                <tr>
                    <td><%= articles[i].name %></td>
                    <td><a href="<%- `/db/${dbName}/count/${attribute}/${encodeURIComponent(articles[i].name)}`%>"><%= articles[i].count %></a></td>
                    <td><a href="<%- `/db/${dbName}/map/${attribute}/${encodeURIComponent(articles[i].name)}`%>" style="text-decoration-line: none;">
                        <span> 🗺️</span>
                    </a></td>
                </li>
                <% } %>
            </table>
        </div>
        <div style="flex: 50%;">
            <div style="display: inline-block; float:left">
                <canvas id="resultChart" width="800" height="400"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <% if (count) { %>
    <script>
        const backgroundColors = [
            "rgba(255, 99, 132, 0.2)",
            "rgba(255, 159, 64, 0.2)",
            "rgba(255, 205, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(201, 203, 207, 0.2)"];
        const borderColors = [
            "rgb(255, 99, 132)",
            "rgb(255, 159, 64)",
            "rgb(255, 205, 86)",
            "rgb(75, 192, 192)",
            "rgb(54, 162, 235)",
            "rgb(153, 102, 255)",
            "rgb(201, 203, 207)"];
        
        datasets = [{
            label: "Count",
            data: <%- `[${count}]` %>, 
            backgroundColor: backgroundColors[0],
            borderColor: borderColors[0],
            borderWidth: 1
        }];

        var resultChart = new Chart("resultChart", {
            type: 'bar',
            data: {
                labels: <%- `[${articles.map(article => `"${article.name}"`).join(",")}]` %>,
                datasets: datasets
            },
            options: {
                title: {
                    display: true,
                    text: "External Factors"
                },
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
    <% } %>
</body>
</html>