<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThaiDB : <%- title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/scripts.js"></script>
</head>
<body>
    <%- include('header'); -%>
    <h1><a href="/db">Collections</a>.<a href="/db/<%- collection.name %>/list"><%- collection.friendlyName %></a><%- locals.query ? "." + locals.query : "" %></h1>
    <div><%= articles.length %> results <button onclick="window.location=setUrlParam(window.location, 'csv', 1)">Export</button></div>
    <ul class="articles">
        <li class="article" style="padding-bottom:25px">
            <a href="/db/<%- collection.name %>/new" class="button"><span>Create new</span></a>
            Sort by 
            <% if (locals.sort === "created") { %>
                <% if (locals.order === 1) { %>
                    <a href="/db/<%- collection.name %>/list?sort=created" class="button selected"><span>Created ⬇</span></a>
                <% } else { %>
                    <a href="/db/<%- collection.name %>/list?sort=created&order=ascending" class="button selected"><span>Created ⬆</span></a>
                <% } %>
            <% } else { %>
                <a href="/db/<%- collection.name %>/list?sort=created" class="button"><span>Created ⬍</span></a>
            <% } %>
            <% if (locals.sort === "modified") { %>
                <% if (locals.order === 1) { %>
                    <a href="/db/<%- collection.name %>/list?sort=modified" class="button selected"><span>Modified ⬇</span></a>
                <% } else { %>
                    <a href="/db/<%- collection.name %>/list?sort=modified&order=ascending" class="button selected"><span>Modified ⬆</span></a>
                <% } %>
            <% } else { %>
                <a href="/db/<%- collection.name %>/list?sort=modified" class="button"><span>Modified ⬍</span></a>
            <% } %>
            <% if (locals.sort === "id") { %>
                <% if (locals.order === 1) { %>
                    <a href="/db/<%- collection.name %>/list?sort=id" class="button selected"><span>Id ⬇</span></a>
                <% } else { %>
                    <a href="/db/<%- collection.name %>/list?sort=id&order=ascending" class="button selected"><span>Id ⬆</span></a>
                <% } %>
            <% } else { %>
                <a href="/db/<%- collection.name %>/list?sort=id" class="button"><span>Id ⬍</span></a>
            <% } %>
            <% if (locals.sort === "user") { %>
                <% if (locals.order === 1) { %>
                    <a href="/db/<%- collection.name %>/list?sort=user" class="button selected"><span>User ⬇</span></a>
                <% } else { %>
                    <a href="/db/<%- collection.name %>/list?sort=user&order=ascending" class="button selected"><span>User ⬆</span></a>
                <% } %>
            <% } else { %>
                <a href="/db/<%- collection.name %>/list?sort=user" class="button"><span>User ⬍</span></a>
            <% } %>
            <% if (locals.sort === "draft") { %>
                <% if (locals.order === 1) { %>
                    <a href="/db/<%- collection.name %>/list?sort=draft" class="button selected"><span>Draft ⬇</span></a>
                <% } else { %>
                    <a href="/db/<%- collection.name %>/list?sort=draft&order=ascending" class="button selected"><span>Draft ⬆</span></a>
                <% } %>
            <% } else { %>
                <a href="/db/<%- collection.name %>/list?sort=draft" class="button"><span>Draft ⬍</span></a>
            <% } %>
        </li>
        <% for(var i=0; i<articles.length; i++) {%>
        <li class="article">
            <button class="delete" onclick="{
                if (window.confirm('Are you sure you want to delete <%=articles[i].id%>')) {
                    window.location='/db/<%- collection.name %>/delete/<%= encodeURIComponent(articles[i].id) %>';
                }
            }">&times;</button>
            <a href="/db/<%- collection.name %>/edit/<%= encodeURIComponent(articles[i].id) %>">
            <span><%= articles[i].id %></span>
            </a>
            <%= articles[i].bibliography.headline %> <% if (articles[i].user) { %><span style="background-color: lightblue; padding: 2px; border-radius: 3px;"> <%= articles[i].user.name %></span><% } %> <% if (articles[i].draft) { %><span style="background-color: orange; padding: 2px; border-radius: 3px;"> draft</span><% } %><br>
            <span style="color:silver"><%= articles[i].article.abstract %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>