<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThaiDB : <%= title %></title>
</head>
<body>
    <%- include('header'); -%>
    <h1><%= title %></h1>
    <div><%= articles.length %> results</div>
    <ul class="articles">
        <% for(var i=0; i<articles.length; i++) {%>
        <li class="article">
            <a href="/article/<%= articles[i].id %>">
            <span><%= articles[i].id %></span>
            </a>
            <span><%= articles[i].bibliography.headline %></span>
            <br>
            <span style="color:silver"><%= articles[i].article.abstract %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>