<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ThaiDB : <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/scripts.js"></script>
</head>
<body>
    <%- include('header'); -%>
    <h1><%= title %></h1>
    <div><%= articles.length %> results <button onclick="window.location=setUrlParam(window.location, 'csv', 1)">Export</button></div>
    <ul class="articles">
        <% for(var i=0; i<articles.length; i++) {%>
        <li class="article">
            <a href="/article/<%= articles[i].id %>">
            <span><%= articles[i].id %></span>
            </a>
            <span><%= articles[i].bibliography.headline %></span>
            <a href="/edit/<%= articles[i].id %>" style="text-decoration-line: none">✏️</a>
            <br>
            <span style="color:silver"><%= articles[i].article.abstract %></span>
        </li>
        <% } %>
    </ul>
</body>
</html>